<!-- your html code here -->
<div class="container bg-white">
    <div  class="d-flex justify-content-center p-5 ">
        <div>
            <span class="fw-bold fs-1">This First Heading</span> <span class="text-secondary fw-bold fs-1"> Will Catch Your Eye</span>
            <p class="fw-medium">¿Te has cansado de lo mismo? :cara_de_bostezo: ¡Despierta tu curiosidad! :bum: Explora un mundo de posibilidades, donde la imaginación no tiene límites. :vía_láctea: Descubre secretos ocultos, conoce historias increíbles y vive aventuras extraordinarias. :brújula: No te conformes con la rutina, ¡vive la vida al máximo! :fuego: Prepárate para una experiencia única, llena de emoción y descubrimiento. :cohete: ¿Estás listo para el cambio? :mareado: ¡El futuro te espera! :tierra_américa:</p>
        </div>
        <img class="rounded-circle ms-4"src="https://img.freepik.com/fotos-premium/walter-white-personaje-dibujos-animados-breaking-bad-ia-generativa_934475-8776.jpg" alt="Imagen" width="300" height="300">
    </div>
</div>